// body
// 	display: none
.navbar-brand
    width: 150px
    height: 90px
    svg
        max-width: 100%
        max-height: 100%
.navbar
    color: #fff
    background-color: #0d0246
    .navbar-nav
        color: #fff
        .nav-link
            color: #fff
            &:hover, &:focus
                color: #ffe57e
        .active
            color: #ffe57e !important

.home
    background-color: #0d0246
    min-height: 100vh
    color: #fff
    .content-section
        padding-top: 5%
        text-align: center
        margin-bottom: 5%
        h1
            font-size: 60px
        p
            color: #adbdcc
            font-size: 18px
    .content-image
        background-image: url(../images/dist/bg.png)
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        min-height: 40vh
        padding-bottom: 5%
        img
            max-width: 100%
.content-info
    margin-top: 10%
    margin-bottom: 10%
    .title
        text-align: center
        font-size: 32px
        line-height: 44px
        margin-bottom: 16px
    .description
        margin-bottom: 60px
        text-align: center
        color: #333
    .card-content
        background-color: #f6f9fc
        text-align: center
        padding: 40px 20px
        margin-bottom: 14px
        min-height: 315px
        img
            max-width: 80px
            margin-bottom: 14px
        h3
            margin: 0 0 10px
            font-weight: 600
            font-size: 16px
            line-height: 1.3
        p
            color: #425466
            margin: 0
            font-size: 13px
.content-delivery
    margin-top: 10%
    margin-bottom: 10%
    .title
        text-align: center
        font-size: 32px
        line-height: 44px
        margin-bottom: 16px
    .description
        margin-bottom: 60px
        text-align: center
        color: #333
    .card-content
        text-align: center
        margin-bottom: 14px
        min-height: 269px
        svg
            width: 64px
            height: 64px
            text-align: center
            fill: #8ed1fc
            margin-bottom: 24px
        h3
            margin: 0 0 10px
            font-weight: 600
            font-size: 18px
            line-height: 1.3
        p
            color: #425466
            margin: 6px
            font-size: 15px
.content-slogan
    background-color: #211c38
    color: #fff
    margin-top: 10%
    margin-bottom: 10%
    min-height: 40vh
    display: flex
    align-items: center
    h2
        font-size: 32px
        text-align: center
        margin-bottom: 35px
    p
        font-size: 17px
        text-align: center
.content-start
    margin-top: 5%
    margin-bottom: 10%
    text-align: center
    h1
        margin-bottom: 30px
        font-weight: 600
        font-size: 32px
.footer
    background-color: #1b1730
    color: #fff
    text-align: center
    padding: 20px
.button-yellow
    border: 1px solid transparent
    padding: 13px 32px
    font-size: 15px
    line-height: 20px
    background: linear-gradient(128deg,#ffe57e 0%,#feb93fff 50%,#ffe57e 100%)
    background-size: 200% 100%
    background-position: 0 0
    color: #0d0246
    text-decoration: none
    text-align: center
    transition: .25s ease-in-out
    transition-property: background-position,opacity,color,box-shadow
    border-radius: 10px
    font-weight: 700
    box-shadow: 0 10px 20px rgb(255 229 126 / 15%)
    &:hover
        transition: color .25s ease-in-out
        -webkit-tap-highlight-color: transparent
        box-shadow: 0 10px 20px rgb(255 229 126 / 30%)

#section1
    height: 1200px
    background-color: pink

#section2
    height: 1200px
    background-color: yellow
