// body
// 	display: none
.home
    background-color: #0d0246
    min-height: 100vh
    color: #fff
    .navbar
        color: #fff
        .navbar-nav
            color: #fff
            .nav-link
                color: #fff
    .content-section
        text-align: center
        h1
            font-size: 60px
        p
            color: #adbdcc
            font-size: 18px
    .content-image
        background-image: url(../images/dist/bg.png)
        min-height: 40vh
